.todo-left-btns>button {
    background-color: rgb(36, 35, 35);
    color: white;
    outline: none;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgb(36, 35, 35);
    transition: 0.25s ease-in-out 0.1s;
    height: 30px;
}

.todo-btns>p {
    font-size: large;
    margin-top: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.todo-btns>p>span {
    text-decoration: underline;
}


.todo-left-btns>button:hover {
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 8px rgb(36, 35, 35);
}

.todo-btns {
    display: flex;
    justify-content: space-around;
}

.todo-left-btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logout-btn {
    background-color: rgb(36, 35, 35);
    color: white;
    outline: none;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgb(36, 35, 35);
    transition: 0.25s ease-in-out 0.1s;
    height: 30px;
}

.logout-btn:hover {
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 8px rgb(36, 35, 35);
}